body{
    background-image:linear-gradient(to bottom right, #e3dadd, #a29b9d, #e3dadd);
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}


header{
    background: #827b7d;
    padding-top: 1em;
    text-align: left;
    h1{
        font-size: 2.5em;
        font-style: oblique;
        font-weight: 400px;
        padding-left: 1em;
    }
}

.navbar {
    ul{
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        margin:0;
        padding: 0.5em;
        gap: 1em;
        list-style-type: none;
        font-size: 1.5em;
    }
    
    a {

        color: black;
        text-decoration: none;
        
        &:hover{
            background-color: #625a5d80;
            padding: 0.5em;
            color: #e3dadd;
        }
    }
}



/* HIDDEN HAMBURGER MENU */
.hamburger-Menu{
    display: none;
}
/* ------ */





/* 3 BOXES GRID */
.udemy-challenge{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    margin: 5em 1.5em;

    .box-4 {
        grid-column: 1 / -1;
    }

    .box-1, .box-2, .box-3, .box-4 {
        background-color: #827b7d;
        border: 0.5em groove #625a5d;
        border-radius: 1em;
        padding: 1em;
    h2 {
        font-style: oblique;
        font-weight: lighter;
        font-size: 2em;
        margin-bottom: 1.5em;
    }
    .video-container {
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 0 2em;
        margin: 1em 0;
    video {
    width: 100%;
    max-width: 15em;
    border-radius: 0.5em;
    border: 0.4em solid #625a5d;
    margin: 1em 0;
    }
}
    p {
        font-size: 1.4em;
    }
    .spotlight-summary {
        margin: 0 3em 1.7em;
        line-height: 1.2em;
        font-size: 1.2em;
    }
    a {
        display: inline-block;
        background-color: #625a5d;
        color: white;
        padding: 0.8em 2em;
        text-decoration: none;
        border-radius: 0.5em;
        font-size: 1.1em;
        margin: 1em;
        transition: background-color 0.3s ease;
        
        &:hover {
            color: black;
            background-color: #e3dadd;
        }
    }
}
}

.article-box{
    text-align: center;
    margin: 2em 5em 4em;
    background-color: #a29b9d;
    border: 0.4em groove #625a5d; 
    border-radius: 1em;

    h2 {
        font-style: oblique;
        font-weight: lighter;
        font-size: 2em;
        margin-bottom: 1.5em;
    }
}

.article{
    text-align: center;
    font-style:normal;
    font-size: 1.3em;
    margin: 1.8em;
    line-height: 1.3em;
}


/* FOOTER */
footer{
    background: #827b7d;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em 0;
}

.footer-nav {
    ul {
        display: flex;
        gap: 2.5em;
        padding:0;
        list-style: none;
    }
    
    a {
        font-size: 1.2em;
        color: black;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #e3dadd;
        }
    }
}

.social-links {
    display: flex;
    gap: 1.5em;
    padding-bottom: 1.5em;
    
    img {
        width: 1.7em;
    }
}



/* -------------Hamburger Menu------------------- */

@media screen and (max-width: 852px) {

.hamburger-Menu{
    display: block;
    position: absolute; 
    top: 0.6em;
    right: 0.5em;
    width: 3.5em;
}
header h1{
    padding-bottom: 1em;
}
.navbar.mobile-menu{
    display:flex;
}
.navbar{
    height: 100%;
    width: 100%;
    display: none;
    top:0;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    background-color: #827b7d80;
}
.navbar ul{
    flex-direction: column-reverse;
    gap: 2.5em;
}
}
/* -------------------------------------------- */


/* Small Mobile Devices */
@media (min-width:320px) and (max-width: 484px) {
    .udemy-challenge{
        display: grid;
        grid-template-columns: 1fr;
    
    .box-4 .spotlight-summary {
        margin: 0 0 1.7em;
        line-height: 1.3em;
        font-size: 1.1em;
    }
    .box-4 .video-container {
        display: flex;
        justify-content: flex-start;
        gap: 1em;
        padding: 0 2em;
        margin: 1em 0;
        overflow-x: auto;
    }
    .box-4 a {
        font-size: 1.3em;
    }
    }

    .article-box{
    margin: 3em 1.5em;
    }
    .article{
    line-height: 1.2em;
    }


    .footer-nav ul {
        gap: 1em;
    }
    .footer-nav a {
        font-size: 1.1em;
    }

}

/* Large Mobile Devices */
@media (min-width:485px) and (max-width:767px) {
    .udemy-challenge{
        display: grid;
        grid-template-columns: 1fr;


    .box-4 .video-container {
        display: flex;
        justify-content: flex-start;
        gap: 1em;
        padding: 0 2em;
        margin: 1em 0;
        overflow-x: auto;
    }
    .box-4 .spotlight-summary {
        margin: 0 0.1em 1.7em;
        line-height: 1.4em;
        font-size: 1.2em;
    }
    }
    .article-box{
        margin: 3em 1.5em;
        h2{
            font-size: 2.4em;
        }
    }
    .article{
        font-size: 1.4em;
    }
}

/* Tablets and Small Desktops */
@media (min-width:768px) and (max-width: 1024px) {
    .udemy-challenge{
        display: grid;
        grid-template-columns: 1fr;

    .box-1{
        padding: 2em;
    }
    .box-4 .spotlight-summary {
        margin: 0 1em 1.7em;
        font-size: 1.4em;
    }
    .box-4 .video-container {
        display: flex;
        justify-content: flex-start;
        gap: 1em;
        padding: 0 2em;
        margin: 1em 0;
        overflow-x: auto;
    }
    }

    .footer-nav a {
        font-size: 1.3em;
    }
    
    .article-box{
    margin: 3em auto;
    max-width:90%;

    h2{
            font-size: 2.7em;
        }

    }
    .article{
        font-size: 1.6em;
    }

}

/* Desktops and Laptops */
@media (min-width:1025px) and (max-width: 1296px) {

    .udemy-challenge{
        justify-content: center;
        align-items: center;

    .box-4 .spotlight-summary {
        margin: 0 3em 1.7em;
        font-size: 1.5em;
    }
    .box-1{
        padding: 1.3em 0em;
        margin: 0 1em;
    }
    .box-2, .box-3{
        padding: 1em 1.7em;
    }
    .footer-nav a {
        font-size: 1.3em;
    }
}
    .udemy-challenge .box-4 h2 {
        font-size: 3.2em;
    }

    .article-box{
        margin: 2em 2em 4em;
    h2{
        font-size: 2.7em;
    }
    }
    .article{
        font-size: 1.6em;
    }

}


/* Large Desktops */
@media (min-width:1297px) and (max-width: 1680px) {
    .udemy-challenge {
        margin: 5em 4em;

    .box-4 .spotlight-summary {
        margin: 0 3em 1.7em;
        line-height: 1.4em;
        font-size: 1.5em;
}
}
    .udemy-challenge .box-4 h2 {
        font-size: 3.2em;
    }

    .udemy-challenge .box-4 a {
        font-size: 1.5em;
    }

    .article-box{
        margin: 2em 4.5em 4em;
    h2{
        font-size: 2.9em;
    }
    }
    .article{
        font-size: 1.7em;
    }


}

