body {
    background-image:linear-gradient(to bottom right, #e3dadd, #a29b9d, #e3dadd);
    margin:0;
    padding:0;
}

/* HEADER AND NAV BAR */
header{
    background:#827b7d;
    padding-top: 1em;
    text-align: left;
}
header h1{
    font-size: 2.2em;
    font-style: oblique;
    font-weight: 400px;
    padding-left: 1em;
}
.navbar ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    padding: 0.5em;
    gap: 1em;
    list-style-type: none;
    font-size: 1.3em;
}
ul li a {
    color: black;
    text-decoration: none;
}
.navbar a:hover{
    background-color: #625a5d80;
    padding: 0.5em;
    color:#e3dadd;
}


/* HIDDEN HAMBURGER MENU */
.hamburger-Menu{
    display: none;
}
/* ------ */


/* SLIDESHOW */
.slideshow-container{
    position:relative;
    aspect-ratio: 15/10;
    overflow: hidden;
    margin: 5em 10em 2.5em;
    border: 0.6em groove #827b7d;
    border-radius: 1.8em;
}
.myslides img{
    position:absolute;
    width: 100%;
    height:100%;
    object-fit:cover;
    opacity: 0;
    animation: fade 15s infinite;
    border-radius: 0.3em;
}
.myslides img:nth-child(1){animation-delay:0s;}
.myslides img:nth-child(2){animation-delay:5s;}
.myslides img:nth-child(3){animation-delay:10s;}

@keyframes fade {
    0% {opacity: 0;}
    3% {opacity: 1;}
    33% {opacity: 1;}
    36% {opacity: 0;}
    100% {opacity: 0;}

}

/* ABOUT ME */
.about-title{
    font-style: oblique;
    font-weight: normal;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.7em;
}
p {
    text-align: center;
    margin: 0em 7.5em 3em;
    font-size: 1.2em;
    line-height: 1.4em;
}


/* FOOTER */
footer{
    background:#827b7d;
    width: 100%;
    text-align: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em 0;
}
.footer-nav ul {
    display: flex;
    gap: 2.5em;
    list-style: none;
}
.footer-nav a {
    font-size: 1.2em;
    transition: color 0.3s ease;
}
.footer-nav a:hover {
    color: #e3dadd;
}
.social-links {
    display: flex;
    gap: 1.5em;
    padding-bottom: 1.5em;
}

.social-links img {
    width: 1.7em;
}

/* -------------Hamburger Menu------------------- */

@media screen and (max-width: 852px) {

.hamburger-Menu{
    display: block;
    position: absolute; 
    top: 0.6em;
    right: 0.5em;
    width: 3.5em;
}
header h1{
    padding-bottom: 1em;
}
.navbar.mobile-menu{
    display:flex;
}
.navbar{
    height: 100%;
    width: 100%;
    display: none;
    top:0;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    background-color: #827b7d80;
}
.navbar ul{
    flex-direction: column-reverse;
    gap: 2.5em;
}
}
/* -------------------------------------------- */

/* ALL MEDIA QUERIES */


/* Small Mobile Devices */
@media (min-width:320px) and (max-width: 484px) {
.slideshow-container {
    margin: 4em 1.2em 1.5em;
    border: 0.4em groove #827b7d;
}
p {
    margin: 0em 1.5em 5em;
    font-size: 1em;
    line-height: 1.5em;
}
.footer-nav ul {
    gap: 1em;
}
.footer-nav a {
    font-size: 1em;
}
}
/* -------------------------------------------- */

/* Large Mobile Devices */
@media (min-width:485px) and (max-width: 767px) {
.slideshow-container {
    margin: 4em 2.5em 1.5em;
    border: 0.5em groove #827b7d;
}
.about-title {
    font-size: 2.5em;
}
p {
    font-size: 1.1em;
    margin: 0em 3.5em 5em;
    line-height: 1.5em;
}
}
/* ----------------------------------------- */

/* Tablets and Small Desktops */
@media (min-width:768px) and (max-width: 1024px) {
.slideshow-container {
    margin: 4em 5.5em 1.5em;
}
.about-title {
    font-size: 2.7em;
}
p {
    margin: 0em 5.5em 5em;
    line-height: 1.5em;
}
.footer-nav a {
    font-size: 1.3em;
}
}
/* ------------------------------------------ */

/* Desktops and Laptops */
@media (min-width:1025px) and (max-width: 1296px) {
.slideshow-container {
    margin: 4em 7.5em 1.5em;
}
.about-title {
    font-size: 3em;
}
p {
    font-size: 1.3em;
}
.footer-nav a {
    font-size: 1.3em;
}
}
/* ------------------------------------------ */

/* Large Desktops */
@media (min-width:1297px) and (max-width: 1680px) {
.slideshow-container {
    margin: 4em 17em 1.5em;
}

.about-title {
    font-size: 3em;
}
p {
    margin: 0em 14em 5em;
    font-size: 1.4em;
}
.footer-nav a {
    font-size: 1.3em;
}
}